{{!
    This file is part of mod_privatestudentfolder for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_privatestudentfolder/myfiles

    Private Student Folder's myfiles template.

    The purpose of this template is to the contents of the myfiles.
}}
{{#assign}}
    {{{.}}}
{{/assign}}
{{#timeremaining}}
    <tr><th>{{#str}}timeremaining,assign{{/str}}</th><td>{{.}}</td></tr>
{{/timeremaining}}
{{#approvalfromdate}}
    <tr>
        <th>{{#str}}approvalfromdate,privatestudentfolder{{/str}}</th><td>{{.}}</td>
    </tr>
{{/approvalfromdate}}
{{#approvaltodate}}
    <tr>
        <th>{{#str}}approvaltodate,privatestudentfolder{{/str}}</th><td>{{.}}</td>
    </tr>
{{/approvaltodate}}
{{#extensionduedate}}
    <tr>
        <th>{{#str}}extensionto,privatestudentfolder{{/str}}</th>
        <td>{{.}}</td>
    </tr>
{{/extensionduedate}}
{{#hasmyfiles}}
    <tr>
        <th>{{#str}}lastmodified{{/str}}</th>
        <td>{{lastmodified}}</td>
    </tr>
{{/hasmyfiles}}
<tr>
    <th>{{myfilestitle}}</th>
    <td>{{#hasmyfiles}}
            <table id="myfilestable">{{#myfiles}}
                    <tr>{{#.}}<td>{{{.}}}</td>{{/.}}</tr>
                {{/myfiles}}
            </table>
        {{/hasmyfiles}}
        {{^hasmyfiles}}
            {{#str}}nofiles,privatestudentfolder{{/str}}
        {{/hasmyfiles}}
    </td>
</tr>