{{!
    @template mod_privatestudentfolder/partial_assignlink

    Template partial for displaying the assignment link in a table row.

    Example context (json):
    {
        "notset": false,
        "notfound": false,
        "assign": {
            "url": "https://example.com/mod/assign/view.php?id=123",
            "name": "Assignment 1"
        }
    }
}}
<table>
    <tr>
        <th>{{#str}}assignment,privatestudentfolder{{/str}}</th>
            {{#notset}}
                <td class="alert-warning">{{#str}}assignment_notset,privatestudentfolder{{/str}}</td>
            {{/notset}}
            {{#notfound}}
                <td class="alert-warning">{{#str}}assignment_notfound,privatestudentfolder{{/str}}</td>
            {{/notfound}}
            {{#assign}}
                <td><a href="{{url}}">{{name}}</a></td>
            {{/assign}}
    </tr>
</table>